$color: purple;

div {
    font-size:40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: $color;
}

#popo {
    font-size:60px;
    font-family: Arial, Helvetica, sans-serif;
    color: $color;
}